@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Lexend Deca', sans-serif;
}

.repo{
    margin-top: 5px;
    margin-bottom: 20px;
}

.hed{
    flex: 1;
    display: flex;
    justify-content: center;
    text-decoration: underline;
}

.header{
    display: flex;
    background-color: transparent;
    font-size: 15px;
    background:none;
    width: 98vw;
    margin-top: 10px;
    z-index: 100;
    margin: 10px;
    top: 1;
    position: fixed;
}

.hed_log{
    height: 24px;
    width: 100px;
    margin-top: 7px;
}

.head_cen{
    flex: 1;
    display: flex;
    justify-content: center;
    margin-left: 65px;
}

.head_cen>p{
    margin: 10px;
    margin-top: 10px;
    text-transform: uppercase;
}

.head_ri{
    display: flex;
    justify-content: flex-end;
    text-transform: uppercase;
}

.head_ri>p{
    margin: 10px;
}

.item{
    height: 100vh;
    width: 100vw;
    background-position: center;
    background-size: cover;
    justify-content: center;
    display: flex;
    background-repeat: no-repeat;
    scroll-snap-align: start;
}

.it_con{
    width: 40vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.it_th{
    margin-bottom: 10%;
    display: flex;
    flex-direction: column;
}

.it_tex{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    font-size: 34px;
    color: #393c41;
    align-items: center;
    flex: 1;
}

.it_texdec{
    font-weight: 200;
    font-size: 14px;
}

.it_btn{
    display: flex;
}

.btn{
    height: 30px;
    width: 206px;
    margin: 10px;
    display: flex;
    justify-items: center;
    border-radius: 100px;
    opacity: 0.85;
    background-color: rgba(23, 26, 32, 0.8);
    align-items: center;
}

.btn>p{
    text-decoration: none;
    color: white;
    font-size: 12px;
    text-align: center;
    margin-left: 70px;
}

.btn_white{
    background-color: white;
    opacity: 0.65;
}

.btn_white>p{
    color: black;
}

.it_exp{
    color: white;
    width: 100%;
    margin-top: 1%;
    justify-content: center;
    margin-left: 211px;
}